:root {
  --main-color: black;
  --hover-color: orange;
  --border-color: lightgray;
  --border-radius: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Nazanin";
  src: url(./Font/B-NAZANIN.TTF);
}

body {
  font-family: "Nazanin", sans-serif;
  background-color: #f8f8f8;
}

.header {
  display: flex;
  height: 8rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header .logo {
  height: 70px;
}

.header a {
  padding: 0 1rem;
  text-decoration: none;
  color: var(--main-color);
  transition: color 0.3s;
}

.header a:hover {
  color: var(--hover-color);
}

.under-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #37517e;
  padding: 2rem;
  color: white;
  text-align: justify;
  width: 100%;
  height: 80vh;
}

.under-header .left,
.under-header .right {
  flex: 1; /* تقسیم مساوی فضا بین دو بخش */
  min-width: 0; /* جلوگیری از زیاد شدن عرض در صفحه‌های کوچک */
}

.under-header .left {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.under-header .left img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: auto;
}

.under-header .right h1,
.under-header .right p {
  color: white;
  margin-bottom: 1rem;
}

.under-header .right button {
  margin: 0.5rem 0 5rem 0;
  border-radius: 5px;
  padding: 0.7rem;
  background-color: inherit;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  font-size: medium;
  transition: all 0.5s;
}

.under-header .right button:hover {
  background-color: white;
  color: #37517e;
}

.main-title {
  text-align: center;
  margin: 2rem 0;
  font-size: calc(1.5rem + 1vw);
  width: 100%; /* برای اشغال کامل عرض */
  display: block; /* به صورت بلاک کامل نمایش داده شود */
  clear: both; /* از هم‌سطح قرار گرفتن با عناصر دیگر جلوگیری می‌کند */
}

.responsive {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
  object-fit: cover;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1rem;
}

.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid var(--border-color);
  width: 100%;
  max-width: 300px;
  margin: 1rem; /* فاصله بین کارت‌ها */
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: white;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 1rem;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card p {
  margin-top: 1rem;
  text-align: center;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--border-color);
  margin: 1rem 0;
}

.buy {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.kharid {
  background-color: rgb(0, 164, 219);
  width: 3rem;
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  font-size: medium;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.kharid:hover {
  background-color: rgb(0, 143, 190);
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.team {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column; /* تغییر به حالت ستونی */
  align-items: center; /* مرکز چین */
  justify-content: center;
}

.card-team {
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  width: 100%;
  max-width: 300px;
  margin: 1rem; /* فاصله بین اعضای تیم */
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: white;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 1rem;
}

.card-team:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card-team .mohtava {
  text-align: center;
}

.card-team h1 {
  color: #37517e;
  margin: 1rem 0 1rem 0;
}

.card-team h3 {
  margin: 1rem 0 1rem 0;
  font-weight: normal;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40vh;
  background-color: #37517e;
  margin-top: 2rem;
  padding: 1rem 2rem;
}

footer .right {
  color: white;
  text-align: justify;
  max-width: 40rem;
}
footer .right h1 {
  margin: 0.5rem 0;
}
footer .left img {
  border-radius: 5px;
}

@media screen and (max-width: 400px) {
  .header {
    flex-direction: column;
  }

  .header nav {
    padding-bottom: 1rem;
  }

  .header img {
    margin-top: 0.5rem;
  }

  .card {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .main,
  .under-header,
  .team,
  footer {
    flex-direction: row;
  }
}
