output {
    font-size: 30px;
    color: #000000;
  }
  
  input {
    color: #8707ff;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    max-width: 190px;
    font-size: large;
    margin: 1rem;
  }