body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #e8e8e8;
  color: black;
  margin: auto;
  text-align: center;
  font-family: "B-nazanin";
  font-size: 1rem;
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.25rem);
}

@font-face {
  font-family: "B-nazanin";
  src: url(./Fonts/B-NAZANIN.TTF);
}

#themeButton_1 {
  position: absolute;
  font-size: xx-small;
  top: 2px;
  left: 2px;
  padding: 5px;
}

#themeButton_2 {
  position: absolute;
  font-size: xx-small;
  top: 2px;
  left: 40px;
  padding: 5px;
}

.nav {
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  margin: 0.5rem 0;
}

.dropdown-content a {
  display: block;
}

.dropdown1:hover .dropdown-content,
.dropdown2:hover .dropdown-content,
.dropdown3:hover .dropdown-content {
  display: block;
}

@media (max-width: 600px) {
  .nav {
    flex-direction: column; /* تغییر جهت چیدمان برای عرض‌های کوچکتر */
  }
  .dropdown2 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .dropdown1:hover ~ .dropdown2,
  .dropdown1:hover ~ .dropdown3 {
    display: none;
  }

  .dropdown2:hover ~ .dropdown3 {
    display: none;
  }

  footer {
    margin-top: 2rem;
  }
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 300px) {
  footer {
    flex-direction: column; /* تغییر جهت چیدمان برای عرض‌های کوچکتر */
  }
}

.pBox {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1.6;
  color: black;
  border: 1px solid red;
  width: 50%;
  height: 50%;
  text-align: justify;
  border-radius: 30px;
  padding: 15px;
}

h1:before,
h1:after,
h3:before,
h3:after {
  content: " | ";
  color: red;
}

button {
  background-color: #444141;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  padding: 10px 10px;
  margin: 5px;
  font-size: 16px;
  border: none;
  text-decoration: none;
}

button:hover {
  background-image: linear-gradient(
    90deg,
    #6a3093 0%,
    #a044ff 50%,
    #1f4037 75%,
    #6a3093 100%
  );
  animation: slidernbw 5s linear infinite;
  color: #fff;
}

@keyframes slidernbw {
  to {
    background-position: 20vw;
  }
}

a.button {
  background-color: #444141;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  padding: 10px 10px;
  margin: 5px;
  font-size: 16px;
  border: none;
  text-decoration: none;
}

a.button:hover {
  background-image: linear-gradient(
    90deg,
    #6a3093 0%,
    #a044ff 50%,
    #1f4037 75%,
    #6a3093 100%
  );
  animation: slidernbw 5s linear infinite;
  color: #fff;
}

@keyframes slidernbw {
  to {
    background-position: 20vw;
  }
}

.chengePage {
  width: 400px;
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
}
