* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "B-nazanin";
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: rgb(255, 218, 172);
}

@font-face {
  font-family: "B-nazanin";
  src: url(../../index\ assets/css/Fonts/B-NAZANIN.TTF);
}

div.bio {
  position: relative;
  text-align: justify;
  background-color: bisque;
  max-width: 600px;
  margin: 200px auto;
  padding: 30px 270px 50px 30px;
  border-radius: 30px 10px;
  box-shadow: 0 0 40px burlywood;
}
div.bio p {
  max-width: 400px;
}

div.call {
  position: absolute;
  top: -30px;
  right: 30px;
  left: 355px;
  bottom: 30px;
  background-color: burlywood;
  /* border-top-left-radius: 10px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 10px; */
  border-radius: 10px 30px; /*خلاصه چهار خط کد بالا */
  line-height: 25px;
  box-shadow: 0px 0px 40px burlywood;
  overflow: hidden; /* اضافی عکس رو مثل بوردر ردیوس خودش میکنه */
}
div.call img {
  width: 100%;
  height: 210px;
  /* border-top-right-radius: 30px; */ /*به جاش به بالای اور فلو دادم ! */
  /*border-top-left-radius: 10px; */ /*به جاش به بالای اور فلو دادم ! */
  overflow: hidden;
  padding-bottom: 10px;
}

div.call i {
  display: block;
  padding-right: 10px;
}
div.call p {
  display: inline-block;
  padding-right: 5px;
  font-family: Arial;
}
