body {
  background-color: #e8e8e8;
  color: black;
  margin: auto;
  text-align: center;
  font-family: "B Nazanin", "IRANSans", Arial, sans-serif;
}

#themeButton_1 {
  position: absolute;
  font-size: xx-small;
  top: 2px;
  left: 2px;
  padding: 5px;
}

#themeButton_2 {
  position: absolute;
  font-size: xx-small;
  top: 2px;
  left: 40px;
  padding: 5px;
}

.pBox {
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 1.5rem;
  line-height: 1.6;
  color: black;
  border: 1px solid red;
  width: 80%;
  height: 50%;
  text-align: center;
  border-radius: 30px;
  padding: 15px;
}

output {
  font-size: 30px;
  color: #000000;
}

input {
  color: #8707ff;
  border: 2px solid #8707ff;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
  font-size: large;
}

h1:before,
h1:after {
  content: " | ";
  color: red;
}

button {
  background-color: #444141;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  padding: 10px 10px;
  margin: 5px;
  font-size: 16px;
  border: none;
  text-decoration: none;
}

button:hover {
  background-image: linear-gradient(
    90deg,
    #6a3093 0%,
    #a044ff 50%,
    #1f4037 75%,
    #6a3093 100%
  );
  animation: slidernbw 5s linear infinite;
  color: #fff;
}

@keyframes slidernbw {
  to {
    background-position: 20vw;
  }
}

a.button {
  background-color: #444141;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  padding: 10px 10px;
  margin: 5px;
  font-size: 16px;
  border: none;
  text-decoration: none;
}

a.button:hover {
  background-image: linear-gradient(
    90deg,
    #6a3093 0%,
    #a044ff 50%,
    #1f4037 75%,
    #6a3093 100%
  );
  animation: slidernbw 5s linear infinite;
  color: #fff;
}

@keyframes slidernbw {
  to {
    background-position: 20vw;
  }
}

#menu {
  position: absolute;
  left: 5px;
  display: inline-block;
  border-radius: 10px;
  width: 100px;
  height: 270px;
  background-color: #444141;
  text-align: center;
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}
