* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
}

button {
  background-color: #444141;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  padding: 10px 10px;
  margin: 5px;
  font-size: 16px;
  border: none;
  text-decoration: none;
}

button:hover {
  background-image: linear-gradient(
    90deg,
    #6a3093 0%,
    #a044ff 50%,
    #1f4037 75%,
    #6a3093 100%
  );
  animation: slidernbw 5s linear infinite;
  color: #fff;
}

@keyframes slidernbw {
  to {
    background-position: 20vw;
  }
}

a.button {
  background-color: #444141;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  padding: 10px 10px;
  margin: 5px;
  font-size: 16px;
  border: none;
  text-decoration: none;
}

a.button:hover {
  background-image: linear-gradient(
    90deg,
    #6a3093 0%,
    #a044ff 50%,
    #1f4037 75%,
    #6a3093 100%
  );
  animation: slidernbw 5s linear infinite;
  color: #fff;
}

@keyframes slidernbw {
  to {
    background-position: 20vw;
  }
}

.test-1 {
  display: flex;
  position: relative;
  background-color: lightsalmon;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 20rem;
  padding: 5rem;
  border-radius: 0.7rem;
  font-size: 2rem;
}

.lamp img {
  width: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.lamp .button {
  margin-top: 150px; /* فاصله دکمه‌ها از تصاویر */
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 360px) {
  .test-1 {
    width: 100%;
  }
}

#output,
#output2,
#output3,
#output4,
#output5,
#output6,
#output7,
#output8 {
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  flex-wrap: wrap;
  text-align: justify;
}
