/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden; /* جلوگیری از اسکرول افقی */
}

h1,
h3 {
  text-align: center;
}

.border {
  display: inline-block;
  border: 1px solid;
  margin: 50px auto;
  padding: 0px 20px;
  max-width: 100%;
}

.box1 {
  max-width: 100%;
  display: block; /*for center an image */
  margin-left: auto; /*for center an image */
  margin-right: auto; /*for center an image */
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-clip: border-box;
  background-attachment: scroll;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.code-css1 {
  border: 1rem solid gray;
  border-left: 1rem solid #04aa6d;
  border-radius: 5rem 0 5rem 0;
  padding: 10px;
  word-wrap: break-word;
  overflow-x: auto; /* اضافه کردن اسکرول افقی برای کد */
}

.language-css {
  border-radius: 4rem 0 4rem 0;
  white-space: pre-wrap; /* جلوگیری از اسکرول افقی در کد */
}

iframe {
  width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .border {
    margin: 20px;
    padding: 20px;
    max-width: 100%;
  }

  iframe {
    width: 100%;
    height: auto;
  }

  .code-css1 {
    border: 0.5rem solid gray;
    border-left: 0.5rem solid #04aa6d;
    border-radius: 2rem 0 2rem 0;
  }
}
